NEXT_PUBLIC_SUPABASE_URL=https://cimoncuqajpbjvxnmitd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_oBWUaC8LMPvSL14K8kU0sw_Zpkr5Lnc
SUPABASE_SERVICE_ROLE_KEY=sb_secret_zcK47rbWNgGda5mVXFIPiA_QyFHdwRW

